<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
					http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
					http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
					http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd
					http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd">
	
	<bean id="dayReportAct" class="com.luyuan.report.action.DayReportAct"
		scope="session" autowire="byName" />
    <bean id="dayReportBiz" class="com.luyuan.report.biz.impl.DayReportBizImpl" autowire="byName">
	</bean>
	<bean id="reportAct" class="com.luyuan.report.action.ReportAct"
		scope="session" autowire="byName" />

	<bean id="monthlyReportAct" class="com.luyuan.report.action.MonthlyReportAct"
		scope="session" autowire="byName" />

	<bean id="inventoryLastDAO" class="com.luyuan.report.dao.impl.InventoryLastDAOImpl" scope="session">
		<aop:scoped-proxy />
		<property name="sessionFactory" ref="lypsiSessionFactory" />
		<property name="className" value="InventoryLast" />
	</bean>
	<bean id="pinventoryLastDAO" class="com.luyuan.report.dao.impl.InventoryLastDAOImpl" scope="session">
		<aop:scoped-proxy />
		<property name="sessionFactory" ref="lypsiSessionFactory" />
		<property name="className" value="PInventoryLast" />
	</bean>
	<!-- 
	<bean id="pinventoryLastDAO" parent="inventoryLastDAO">		
		<property name="className" value="PInventoryLast" />
	</bean>
	 -->

	<bean id="dealingLastDAO" class="com.luyuan.report.dao.impl.DealingLastDAOImpl" scope="session">
		<aop:scoped-proxy />
		<property name="sessionFactory" ref="lypsiSessionFactory" />
		<property name="className" value="DealingLast" />
	</bean>
	<bean id="pdealingLastDAO" class="com.luyuan.report.dao.impl.DealingLastDAOImpl" scope="session">
		<aop:scoped-proxy />
		<property name="sessionFactory" ref="lypsiSessionFactory" />
		<property name="className" value="PDealingLast" />
	</bean>
	<!-- 
	<bean id="pdealingLastDAO" parent="dealingLastDAO">		
		<property name="className" value="PDealingLast" />
	</bean>
	 -->

	<bean id="pSIProductMonthlyReportDAO"
		class="com.luyuan.report.dao.impl.PSIProductMonthlyReportDAOImpl" scope="session">
		<aop:scoped-proxy />
		<property name="sessionFactory" ref="lypsiSessionFactory" />
		<property name="className" value="PSIProductMonthlyReport" />
	</bean>
	<bean id="pSIPartMonthlyReportDAO"
		class="com.luyuan.report.dao.impl.PSIProductMonthlyReportDAOImpl" scope="session">
		<aop:scoped-proxy />
		<property name="sessionFactory" ref="lypsiSessionFactory" />
		<property name="className" value="PSIPartMonthlyReport" />
	</bean>
	<!-- 
	<bean id="pSIPartMonthlyReportDAO" parent="pSIProductMonthlyReportDAO">
		<property name="className" value="PSIPartMonthlyReport" />
	</bean>
	 -->

	<bean id="pSIDealingMonthlyReportDAO"
		class="com.luyuan.report.dao.impl.PSIDealingMonthlyReportDAOImpl" scope="session">
		<aop:scoped-proxy />
		<property name="sessionFactory" ref="lypsiSessionFactory" />
		<property name="className" value="PSIDealingMonthlyReport" />
	</bean>
	<bean id="pSIPDealingMonthlyReportDAO"
		class="com.luyuan.report.dao.impl.PSIDealingMonthlyReportDAOImpl" scope="session">
		<aop:scoped-proxy />
		<property name="sessionFactory" ref="lypsiSessionFactory" />
		<property name="className" value="PSIPDealingMonthlyReport" />
	</bean>
	<!-- 
	<bean id="pSIPDealingMonthlyReportDAO" parent="pSIDealingMonthlyReportDAO">
		<property name="className" value="PSIPDealingMonthlyReport" />
	</bean>
	 -->
	
	<bean id="monthlyReportDAO" class="com.luyuan.report.dao.impl.MonthlyReportDAOImpl" scope="session">
		<aop:scoped-proxy />
		<property name="sessionFactory" ref="lypsiSessionFactory" />
		<property name="className" value="MonthlyReport" />
	</bean>

	<bean id="monthlySalesBiz" class="com.luyuan.report.biz.impl.MonthlySalesBizImpl"
		autowire="byName">
	</bean>
	
	<bean id="monthlyDealingBiz" class="com.luyuan.report.biz.impl.MonthlyDealingBizImpl">
		<property name="pSIDealingMonthlyReportDAO" ref="pSIDealingMonthlyReportDAO" />
		<property name="dealingBookDAO" ref="dealingBookDAO" />
		<property name="dealingLastDAO" ref="dealingLastDAO" />	
		<property name="pSIPDealingMonthlyReportDAO" ref="pSIPDealingMonthlyReportDAO" />
		<property name="dealingDAO" ref="dealingDAO" />
		<property name="pdealingLastDAO" ref="pdealingLastDAO" />
		<property name="voucherDAO" ref="voucherDAO" />
		<property name="pvoucherDAO" ref="pvoucherDAO" />	
	</bean>
	<!--  
	<bean id="monthlyPDealingBiz" parent="monthlyDealingBiz">
		<property name="pSIDealingMonthlyReportDAO" ref="pSIPDealingMonthlyReportDAO" />
		<property name="dealingBookDAO" ref="pDealingBookDAO" />
		<property name="dealingLastDAO" ref="pdealingLastDAO" />		
	</bean>	
	-->
	
</beans>