<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
					http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
					http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
					http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd
					http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd">
	
	<bean id="inventoryDAO" class="com.luyuan.stock.dao.impl.InventoryDAOImpl" scope="session">
		<aop:scoped-proxy />
		<property name="sessionFactory" ref="lypsiSessionFactory" />
		<property name="className" value="Inventory" />
	</bean>
	<bean id="pinventoryDAO" class="com.luyuan.stock.dao.impl.InventoryDAOImpl" scope="session">
		<aop:scoped-proxy />
		<property name="sessionFactory" ref="lypsiSessionFactory" />
		<property name="className" value="PInventory" />
	</bean>
	<!-- 
	<bean id="pinventoryDAO" parent="inventoryDAO">
		<property name="className" value="PInventory" />
	</bean>
	 -->
	
	<bean id="inventoryBookDAO" class="com.luyuan.stock.dao.impl.InventoryBookDAOImpl" scope="session">
		<aop:scoped-proxy />
		<property name="sessionFactory" ref="lypsiSessionFactory" />
		<property name="className" value="InventoryBook" />
	</bean>
	<bean id="pinventoryBookDAO" class="com.luyuan.stock.dao.impl.InventoryBookDAOImpl" scope="session">
		<aop:scoped-proxy />
		<property name="sessionFactory" ref="lypsiSessionFactory" />
		<property name="className" value="PInventoryBook" />
	</bean>
	<!-- 
	<bean id="pinventoryBookDAO" parent="inventoryBookDAO">		
		<property name="className" value="PInventoryBook" />
	</bean>
	 -->
	
	<bean id="inventoryBookViewDAO" class="com.luyuan.stock.dao.impl.InventoryBookViewDAOImpl" scope="session">
		<aop:scoped-proxy />
		<property name="sessionFactory" ref="lypsiSessionFactory" />
		<property name="className" value="InventoryBookView" />
	</bean>
	<bean id="pinventoryBookViewDAO" class="com.luyuan.stock.dao.impl.InventoryBookViewDAOImpl" scope="session">
		<aop:scoped-proxy />
		<property name="sessionFactory" ref="lypsiSessionFactory" />
		<property name="className" value="PInventoryBookView" />
	</bean>
	<!-- 
	<bean id="pinventoryBookViewDAO" parent="inventoryBookViewDAO">
		<property name="className" value="PInventoryBookView" />
	</bean>
	 -->
	
	<bean id="inventoryOutApportionDAO" class="com.luyuan.stock.dao.impl.InventoryOutApportionDAOImpl" scope="session">
		<aop:scoped-proxy />
		<property name="sessionFactory" ref="lypsiSessionFactory" />
		<property name="className" value="InventoryOutApportion" />
	</bean>
	<bean id="pinventoryOutApportionDAO" class="com.luyuan.stock.dao.impl.InventoryOutApportionDAOImpl" scope="session">
		<aop:scoped-proxy />
		<property name="sessionFactory" ref="lypsiSessionFactory" />
		<property name="className" value="PInventoryOutApportion" />
	</bean>
	<!-- 
	<bean id="pinventoryOutApportionDAO" parent="inventoryOutApportionDAO">
		<property name="className" value="PInventoryOutApportion" />
	</bean>
	 -->
	
	<bean id="inventoryDetailDAO" class="com.luyuan.stock.dao.impl.InventoryDetailDAOImpl" scope="session">
		<aop:scoped-proxy />
		<property name="sessionFactory" ref="lypsiSessionFactory" />
		<property name="className" value="InventoryDetail" />
	</bean>
	<bean id="pinventoryDetailDAO" class="com.luyuan.stock.dao.impl.InventoryDetailDAOImpl" scope="session">
		<aop:scoped-proxy />
		<property name="sessionFactory" ref="lypsiSessionFactory" />
		<property name="className" value="PInventoryDetail" />
	</bean>
	<!-- 
	<bean id="pinventoryDetailDAO" parent="inventoryDetailDAO">
		<property name="className" value="PInventoryDetail" />
	</bean>
	 -->
	
	<bean id="inventoryBiz" class="com.luyuan.stock.biz.impl.InventoryBizImpl">
		<property name="inventoryDAO" ref="inventoryDAO" />
		<property name="inventoryDetailDAO" ref="inventoryDetailDAO" />
		<property name="inventoryBookDAO" ref="inventoryBookDAO" />
		<property name="inventoryLastDAO" ref="inventoryLastDAO" />
		<property name="pSIProductMonthlyReportDAO" ref="pSIProductMonthlyReportDAO" />
	</bean>
	<bean id="pinventoryBiz" parent="inventoryBiz">
		<property name="inventoryDAO" ref="pinventoryDAO" />
		<property name="inventoryDetailDAO" ref="pinventoryDetailDAO" />
		<property name="inventoryBookDAO" ref="pinventoryBookDAO" />
		<property name="inventoryLastDAO" ref="pinventoryLastDAO" />
		<property name="pSIProductMonthlyReportDAO" ref="pSIPartMonthlyReportDAO" />
	</bean>	
	
	<bean id="inventoryBookBiz" class="com.luyuan.stock.biz.impl.InventoryBookBizImpl">
		<property name="inventoryBookDAO" ref="inventoryBookDAO" />	
		<property name="inventoryBookViewDAO" ref="inventoryBookViewDAO" />		
	</bean>
	<bean id="pinventoryBookBiz" parent="inventoryBookBiz">
		<property name="inventoryBookDAO" ref="pinventoryBookDAO" />
		<property name="inventoryBookViewDAO" ref="pinventoryBookViewDAO" />	
	</bean>
	
	<bean id="inventoryAct" class="com.luyuan.stock.action.InventoryAct" scope="session">
		<property name="type" value="整车" />		
		<property name="inventoryBiz" ref="inventoryBiz" />		
		<property name="unitBiz" ref="unitBiz" />		
		<property name="warehouseBiz" ref="warehouseBiz" />		
	</bean>
	<bean id="pinventoryAct" parent="inventoryAct" scope="session">
		<property name="type" value="配件" />		
		<property name="inventoryBiz" ref="pinventoryBiz" />		
	</bean>
	
	<bean id="inventoryDetailAct" class="com.luyuan.stock.action.InventoryDetailAct" scope="session">
		<property name="type" value="整车" />		
		<property name="inventoryBiz" ref="inventoryBiz" />	
		<property name="productBiz" ref="productBiz" />
		<property name="partBiz" ref="partBiz" />	
	</bean>
	<bean id="pinventoryDetailAct" parent="inventoryDetailAct" scope="session">
		<property name="type" value="配件" />		
		<property name="inventoryBiz" ref="pinventoryBiz" />		
	</bean>
	
	<bean id="inventoryBookAct" class="com.luyuan.stock.action.InventoryBookAct" scope="session">
		<property name="type" value="整车" />		
		<property name="inventoryBookBiz" ref="inventoryBookBiz" />
		<property name="voucherBiz" ref="voucherBiz"/>
		<property name="unitBiz" ref="unitBiz"/>
		<property name="warehouseBiz" ref="warehouseBiz"/>
	</bean>
	<bean id="pinventoryBookAct" parent="inventoryBookAct" scope="session">
		<property name="type" value="配件" />		
		<property name="inventoryBookBiz" ref="pinventoryBookBiz" />
		<property name="pvoucherBiz" ref="pvoucherBiz" />
	</bean>
	
	<bean id="inventoryIntialAct" class="com.luyuan.stock.action.InventoryIntialAct" scope="session">
		<property name="type" value="整车" />
		<property name="warehouseBiz" ref="warehouseBiz" />
		<property name="inventoryBiz" ref="inventoryBiz" />
	</bean>
	<bean id="pinventoryIntialAct" parent="inventoryIntialAct" scope="session">
		<property name="type" value="配件" />
		<property name="inventoryBiz" ref="pinventoryBiz" />
	</bean>
	
</beans>