body {
	font-family: Verdana,Arial,Helvetica,sans-serif;
	text-align: left;
	font-size:12pt;
}

.noprint,ul#menu{
	display:none;
}

width{
	auto;
}
.chithead .title{
	font-size: 18pt;
	font-family:"微软雅黑";
}



