<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
					http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
					http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
					http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd
					http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd">

	<!-- gch -->
	<!-- 服务卡相关 -->
	<bean id="serviceCardAct" class="com.luyuan.info.action.ServiceCardAct"	scope="session" autowire="byName" />
	<bean id="serviceCardListAct" class="com.luyuan.info.action.ServiceCardListAct"	scope="session" autowire="byName" />
	<bean id="serviceCardBiz" class="com.luyuan.info.biz.impl.ServiceCardBizImpl" autowire="byName" />
	<bean id="productCustomerBiz" class="com.luyuan.info.biz.impl.ProductCustomerBizImpl" autowire="byName" />
	<bean id="productInWarehouseDAO" class="com.luyuan.info.dao.impl.ProductInWarehouseDAOImpl" scope="session">
		<aop:scoped-proxy />
		<property name="sessionFactory" ref="lySalesSessionFactory" />
	</bean>
	<bean id="productCustomerDAO" class="com.luyuan.info.dao.impl.ProductCustomerDAOImpl" scope="session">
		<aop:scoped-proxy />
		<property name="sessionFactory" ref="lyCRMSessionFactory" />
		<property name="className" value="ProductCustomer" />
	</bean>
	<bean id="productCustomerHistoryDAO" class="com.luyuan.info.dao.impl.ProductCustomerDAOImpl" scope="session">
		<aop:scoped-proxy />
		<property name="sessionFactory" ref="lyCRMSessionFactory" />
		<property name="className" value="ProductCustomerHistory" />
	</bean>
	<!-- 
	<bean id="productCustomerHistoryDAO" parent="productCustomerDAO">
		<property name="className" value="ProductCustomerHistory" />
	</bean>	
	 -->
	 
	<bean id="productHistoryDAO" class="com.luyuan.info.dao.impl.ProductHistoryDAOImpl" scope="session">
		<aop:scoped-proxy />
		<property name="sessionFactory" ref="lySalesSessionFactory" />
	</bean>
	<bean id="insuranceCardDAO" class="com.luyuan.info.dao.impl.InsuranceCardDAOImpl" scope="session">
		<aop:scoped-proxy />
		<property name="sessionFactory" ref="lySalesSessionFactory" />		
	</bean>
	<bean id="tblSMToSendDAO" class="com.luyuan.info.dao.impl.TblSMToSendDAOImpl" scope="session">
		<aop:scoped-proxy />
		<property name="sessionFactory" ref="lySMSSessionFactory" />		
	</bean>
	
	<bean id="productAct" class="com.luyuan.info.action.ProductAct"	scope="session" autowire="byName" />
	<bean id="productBiz" class="com.luyuan.info.biz.impl.ProductBizImpl" autowire="byName" />
	<bean id="productDAO" class="com.luyuan.info.dao.impl.ProductDAOImpl" scope="session">
		<aop:scoped-proxy />
		<property name="sessionFactory" ref="lypsiSessionFactory" />
		<property name="className" value="Product" />
	</bean>
	
	<bean id="partAct" class="com.luyuan.info.action.PartAct" scope="session" autowire="byName" />
	<bean id="partBiz" class="com.luyuan.info.biz.impl.PartBizImpl" autowire="byName" />
	<bean id="partDAO" class="com.luyuan.info.dao.impl.PartDAOImpl" scope="session">
		<aop:scoped-proxy />
		<property name="sessionFactory" ref="lypsiSessionFactory" />
		<property name="className" value="Part" />
	</bean>
	
	<bean id="productInventoryAct" class="com.luyuan.info.action.ProductInventoryAct"	scope="session" autowire="byName" />
	<bean id="productInventoryBiz" class="com.luyuan.info.biz.impl.ProductInventoryBizImpl" autowire="byName" />
	<bean id="productInventoryDAO" class="com.luyuan.info.dao.impl.ProductInventoryDAOImpl" scope="session">
		<aop:scoped-proxy />
		<property name="sessionFactory" ref="lypsiSessionFactory" />
		<property name="className" value="ProductInventory" />
	</bean>
	
	<bean id="partInventoryAct" class="com.luyuan.info.action.PartInventoryAct"	scope="session" autowire="byName" />
	<bean id="partInventoryBiz" class="com.luyuan.info.biz.impl.PartInventoryBizImpl" autowire="byName" />
	<bean id="partInventoryDAO" class="com.luyuan.info.dao.impl.PartInventoryDAOImpl" scope="session">
		<aop:scoped-proxy />
		<property name="sessionFactory" ref="lypsiSessionFactory" />
		<property name="className" value="PartInventory" />
	</bean>

	<bean id="employeeAct" class="com.luyuan.info.action.EmployeeAct"
		scope="session" autowire="byName" />
	<bean id="employeeListAct" class="com.luyuan.info.action.EmployeeListAct"
		scope="session" autowire="byName" />
	<bean id="employeeBiz" class="com.luyuan.info.biz.impl.EmployeeBizImpl"
		autowire="byName" />
	<bean id="employeeDAO" class="com.luyuan.info.dao.impl.EmployeeDAOImpl" scope="session">
		<aop:scoped-proxy />
		<property name="sessionFactory" ref="lypsiSessionFactory" />
		<property name="className" value="Employee" />
	</bean>

	<bean id="accountBiz" class="com.luyuan.info.biz.impl.AccountBizImpl"
		autowire="byName" />

	<bean id="accountDAO" class="com.luyuan.info.dao.impl.AccountDAOImpl" scope="session">
		<aop:scoped-proxy />
		<property name="sessionFactory" ref="lypsiSessionFactory" />
		<property name="className" value="Account" />
	</bean>


	<bean id="subAccountBiz" class="com.luyuan.info.biz.impl.SubAccountBizImpl"
		autowire="byName" />
	<bean id="subAccountDAO" class="com.luyuan.info.dao.impl.SubAccountDAOImpl" scope="session">
		<aop:scoped-proxy />
		<property name="sessionFactory" ref="lypsiSessionFactory" />
	</bean>

	<bean id="warehouseAct" class="com.luyuan.info.action.WarehouseAct"
		scope="session" autowire="byName" />
	<bean id="warehouseListAct" class="com.luyuan.info.action.WarehouseListAct"
		scope="session" autowire="byName" />
	<bean id="warehouseBiz" class="com.luyuan.info.biz.impl.WarehouseBizImpl"
		autowire="byName" />
	<bean id="warehouseDAO" class="com.luyuan.info.dao.impl.WarehouseDAOImpl" scope="session">
		<aop:scoped-proxy />
		<property name="sessionFactory" ref="lypsiSessionFactory" />
		<property name="className" value="Warehouse" />
	</bean>

	<!-- wml -->
	<bean id="accountManageAct" class="com.luyuan.info.action.AccountManageAct"
		scope="session" autowire="byName" />

	<bean id="accountAct" class="com.luyuan.info.action.AccountAct"
		scope="session" autowire="byName" />

	<bean id="subAccountAct" class="com.luyuan.info.action.SubAccountAct"
		scope="session" autowire="byName" />

	<bean id="subAccountTypeAct" class="com.luyuan.info.action.SubAccountTypeAct"
		scope="session" autowire="byName" />

	<bean id="accountManageBiz" class="com.luyuan.info.biz.impl.AccountManageBizImpl"
		scope="session" autowire="byName">
	</bean>

	<bean id="subAccountTypeBiz" class="com.luyuan.info.biz.impl.SubAccountTypeBizImpl"
		scope="session" autowire="byName">
	</bean>


	<bean id="subAccountTypeDAO" class="com.luyuan.info.dao.impl.SubAccountTypeDAOImpl" scope="session">
		<aop:scoped-proxy />
		<property name="sessionFactory" ref="lypsiSessionFactory" />
	</bean>

	<!-- chq -->
	<bean id="priceDAO" class="com.luyuan.info.dao.impl.PriceDAOImpl" scope="session">
		<aop:scoped-proxy />
		<property name="sessionFactory" ref="lypsiSessionFactory" />
	</bean>
	<bean id="ppriceDAO" class="com.luyuan.info.dao.impl.PPriceDAOImpl" scope="session">
		<aop:scoped-proxy />
		<property name="sessionFactory" ref="lypsiSessionFactory" />
	</bean>
	<!-- 
	<bean id="ppriceDAO" parent="priceDAO" />
	 -->
	
	<bean id="priceBiz" class="com.luyuan.info.biz.impl.PriceBizImpl"
		autowire="byName" />
	<bean id="priceAct" class="com.luyuan.info.action.PriceAct" scope="session"
		autowire="byName" />	
	
	<bean id="ppriceBiz" class="com.luyuan.info.biz.impl.PPriceBizImpl"
		autowire="byName" />
	<bean id="pPriceAct" class="com.luyuan.info.action.PPriceAct"
		scope="session" autowire="byName" />

	<bean id="priceTypeDAO" class="com.luyuan.info.dao.impl.PriceTypeDAOImpl" scope="session">
		<aop:scoped-proxy />
		<property name="sessionFactory" ref="lypsiSessionFactory" />
	</bean>
	
	<bean id="priceTypeBiz" class="com.luyuan.info.biz.impl.PriceTypeBizImpl"
		autowire="byName" />
	<bean id="priceTypeAct" class="com.luyuan.info.action.PriceTypeAct"
		scope="session" autowire="byName" />

</beans>