<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_9" version="2.4" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>
	
	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/applicationContext.xml,classpath*:com/luyuan/**/applicationContext-*.xml</param-value>	
	</context-param>
	
	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>/WEB-INF/log4j.properties</param-value>
	</context-param>
	
	<context-param>
		<param-name>log4jRefreshInterval</param-name>
		<param-value>6000</param-value>
	</context-param>
	
	<filter>    
		<filter-name>encodingFilter</filter-name>  
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>  
		<init-param>  
			<param-name>encoding</param-name>    
			<param-value>utf-8</param-value>  
		</init-param>  
  		<init-param>  
   			<param-name>forceEncoding</param-name>  
   			<param-value>true</param-value>  
  		</init-param>    
 	</filter>  
 	
	<filter-mapping>  
		<filter-name>encodingFilter</filter-name>  
		<url-pattern>/*</url-pattern> 
	</filter-mapping>  

	
  

	<filter>
        <filter-name>struts-cleanup</filter-name>
        <filter-class>
            org.apache.struts2.dispatcher.ActionContextCleanUp
        </filter-class>
    </filter> 
    
    <filter-mapping>
        <filter-name>struts-cleanup</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
 
    <filter>
		<filter-name>sitemesh</filter-name>
		<filter-class>com.opensymphony.module.sitemesh.filter.PageFilter</filter-class>
	</filter> 
    
    <filter-mapping>
        <filter-name>sitemesh</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <servlet>   
        <servlet-name>JasperReportImageServlet</servlet-name>   
        <servlet-class>   
            net.sf.jasperreports.j2ee.servlets.ImageServlet    
        </servlet-class>   
    </servlet>   
   
    <servlet-mapping>   
        <servlet-name>JasperReportImageServlet</servlet-name>   
        <url-pattern>/images</url-pattern>   
    </servlet-mapping>

    <servlet> 
		<servlet-name>Kaptcha</servlet-name> 
		<servlet-class>com.google.code.kaptcha.servlet.KaptchaServlet</servlet-class> 
		
		<init-param>
			<param-name>kaptcha.border</param-name>
			<param-value>yes</param-value>
		</init-param> 
		<init-param>
			<param-name>kaptcha.background.clear.from</param-name>
			<param-value>238,238,238</param-value>
		</init-param> 
		<init-param>
			<param-name>kaptcha.border.color</param-name>
			<param-value>238,238,238</param-value>
		</init-param>
		<init-param>
			<param-name>kaptcha.textproducer.font.color</param-name>
			<param-value>59,45,10</param-value>
		</init-param>
		<init-param>
			<param-name>kaptcha.noise.color</param-name>
			<param-value>59,45,10</param-value>
		</init-param>
	</servlet> 
	<servlet-mapping> 
        <servlet-name>Kaptcha</servlet-name> 
        <url-pattern>/kaptcha.jpg</url-pattern> 
	</servlet-mapping>
  	
    
	
    <filter>
        <filter-name>struts2</filter-name>
        <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>*.html</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
	
	<session-config> 
		<session-timeout>20</session-timeout> 
	</session-config>
	<!--
	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/public/error/404.jsp</location>
	</error-page>

	<error-page>
		<error-code>500</error-code>
		<location>/WEB-INF/public/error/500.jsp</location>
	</error-page>	

	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/WEB-INF/public/error/error.jsp</location>
	</error-page>
	-->
</web-app>