@CHARSET "UTF-8";
/*css menu (no javascript) 2010-5-21 luyuan
**ie6: 2-level;
**ie7.ie8.firefox: n-level
**/
* {
	margin: 0;
	padding: 0;
}

.preload0 {background: url(bg.gif);}
.preload1 {background: url(blank_over.gif);}
.preload2 {background: url(blank_overa.gif);}

ul#menu {
	background:url(bg.gif) repeat-x;
	font-size:12px;
	height:36px; 
	list-style:none; 
	z-index:500;
}

#menu li {
	display:block;
	float:left;
}

#menu ul {
	visibility:hidden;
	position:absolute;
	top:31px; 
	left:0;
}

#menu table {
	font-weight:normal;
	position:absolute;
	top:0; 
	left:0;
}
#menu a.fly table{
	top:-4px;
	left:150px;
}
#menu li.fly ul{
	top:-4px;
	left:0;
}

#menu a{
	white-space:nowrap;
	display:block;
	float:left;
	text-decoration:none;
	color:#000;
	outline:none;
	blr:expression(this.onFocus=this.blur());
}
#menu ul a{
	text-indent:5px;
	width:150px;
	line-height:20px;
}
#menu span{
	display:block;
}

#menu li a.top {
	height:36px; 
	line-height:27px; 
	color:#ccc; 
	font-weight:bold; 
	padding:0 0 0 12px; 
	cursor:pointer;
	background: url(blank.gif);
	display:inline-block;
}

#menu li a.top span {background:url(blank.gif) right top;padding:0 24px 0 12px; }
#menu li a.top span.down {background:url(blanka.gif) no-repeat right top;padding:0 24px 0 12px; }
#menu li a.top:hover {background: url(blank_over.gif) no-repeat;color:#fff; }
#menu li a.top:hover span {background:url(blank_over.gif) no-repeat right top;}
#menu li a.top:hover span.down {background:url(blank_overa.gif) no-repeat right top;}

#menu li:hover > a.top {background: url(blank_over.gif) no-repeat;color:#fff; }
#menu li:hover > a.top span {background:url(blank_over.gif) no-repeat right top;}
#menu li:hover > a.top span.down {background:url(blank_overa.gif) no-repeat right top;}

#menu a:hover {position:relative; z-index:200; border:0;}	/*ie6 bug*/
#menu li:hover{position:relative; z-index:200; border:0;}	/*ie7 bug*/

#menu a:hover ul,
#menu li:hover ul{
	visibility:visible;
	background: #fff; 
	padding:3px; 
	border:1px solid #3a93d2; 
	width:150px; 
	height:auto;
	z-index:300;
}


#menu a.fly {background:#fff url(arrow.gif) 140px 7px no-repeat;}
#menu a:hover ul a.fly:hover {background:#3a93d2 url(arrow_over.gif) 140px 7px no-repeat; color:#fff;}
#menu a:hover ul a.fly ul {visibility:hidden;}
#menu a:hover ul a.fly:hover ul {visibility:visible;top:0;left:0;z-index:400;}

#menu li:hover ul a.fly:hover{background:#3a93d2 url(arrow_over.gif) 140px 7px no-repeat; color:#fff;}
#menu li:hover ul li.fly:hover > a.fly{background:#3a93d2 url(arrow_over.gif) 140px 7px no-repeat; color:#fff;}
#menu li.fly ul{visibility:hidden;}
#menu li.fly:hover > ul{visibility:visible;top:-4px;left:150px;z-index:400;}


#menu a:hover ul a:hover {background:#3a93d2; color:#fff;}
#menu li:hover ul a:hover{background:#3a93d2; color:#fff;}

/*
 * iframe hide select --ie6 bug
 */
#menu a iframe,
#menu li iframe{
	position:absolute;
	visibility:hidden;
}
#menu a:hover iframe,
#menu li:hover iframe{
	visibility:visible;
	display:none;_display:block;top:0;left:0;z-index:-1;filter:mask();width:158px;height:120px;margin-top:36px;
}