<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
					http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
					http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
					http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd
					http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd">

	<!-- wml -->
	<bean id="dealingBookDAO" class="com.luyuan.money.dao.impl.DealingBookDAOImpl" scope="session">
		<aop:scoped-proxy />
		<property name="sessionFactory" ref="lypsiSessionFactory" />
		<property name="className" value="DealingBook" />
	</bean>
	<bean id="pDealingBookDAO" class="com.luyuan.money.dao.impl.DealingBookDAOImpl" scope="session">
		<aop:scoped-proxy />
		<property name="sessionFactory" ref="lypsiSessionFactory" />
		<property name="className" value="PDealingBook" />
	</bean>
	<!-- 
	<bean id="pDealingBookDAO" parent="dealingBookDAO">
		<property name="className" value="PDealingBook" />
	</bean>
	 -->

	<bean id="paymentAct" class="com.luyuan.money.action.PaymentAct"
		scope="session" autowire="byName" />

	<bean id="receiptAct" class="com.luyuan.money.action.ReceiptAct"
		scope="session" autowire="byName" />

	<bean id="dueBookAct" class="com.luyuan.money.action.DueBookAct"
		scope="session" autowire="byName" />

	<bean id="moneyCourseAct" class="com.luyuan.money.action.CourseAct"
		scope="session" autowire="byName" />

	<bean id="moneyDraftAct" class="com.luyuan.money.action.DraftAct"
		scope="session" autowire="byName" />

	<bean id="billQueryAct" class="com.luyuan.money.action.BillQueryAct"
		scope="session" autowire="byName" />

	
	<bean id="billBiz" class="com.luyuan.money.biz.impl.BillBizImpl">
		<property name="dealingDAO" ref="dealingDAO" />
		<property name="dealingDetailDAO" ref="dealingDetailDAO" />
		<property name="subAccountDAO" ref="subAccountDAO" />	
		<property name="accountDAO" ref="accountDAO" />
		<property name="dealingBookDAO" ref="dealingBookDAO" />
		<property name="pDealingBookDAO" ref="pDealingBookDAO" />	
		<property name="employeeDAO" ref="employeeDAO" />
		<property name="pSIDealingMonthlyReportDAO" ref="pSIDealingMonthlyReportDAO" />
		<property name="codeCreatorService" ref="codeCreatorService" />
	</bean>
	

	<bean id="dealingDAO" class="com.luyuan.money.dao.impl.DealingDAOImpl" scope="session">
		<aop:scoped-proxy />
		<property name="sessionFactory" ref="lypsiSessionFactory" />
		<property name="className" value="Dealing" />
	</bean>

	<bean id="dealingDetailDAO" class="com.luyuan.money.dao.impl.DealingDetailDAOImpl" scope="session">
		<aop:scoped-proxy />
		<property name="sessionFactory" ref="lypsiSessionFactory" />
	</bean>

</beans>